body{
    font-family: sans-serif;
    background-color: rgb(237, 243, 219);
    color: #333;
    margin: 0;
    padding: 0;
}

header{
    background-color: #79a3b1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1{
    margin: 0;
}

main{
    width: 80%;
    margin: 20px auto;
}

.introduction, .ingredients, .instuctions{
    background-color: aliceblue;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.ingredients h2, .instuctions h2{
    color: rgba(228, 32, 176, 0.767);
}

ul, ol{
    margin-left: 20px;
}

footer{
    text-align: center;
    background-color:  #79a3b1;
    color: white;
    padding: 20px;
    position: 10px 0;
    bottom: 0;
    width: 100%;
}

