body{
    font-family: sans-serif;
}
header{
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}
h1{
    text-align: center;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 90%;
    margin-bottom: 10px;
}
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}
section h2{
    color: black;
}
section p{
    color: rgb(46, 46, 46);
}
#about{
    padding: 20px;
}
header h1 a{
    list-style: none;
}